//font-color:
@font-color-yellow:#ffcd32;
@font-color-white05:rgba(255,255,255,.5);
@font-color-white03:rgba(255,255,255,.3);
@font-color-white:rgba(255,255,255,1);
//bg-color:
@bg-color-black:#222;



@remSize:37.5;//设计分辨率的rem